body {
  margin: 0;
  font-family: Arial, helvetica, sans-serif;
}

.fixedwidth {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
}

#topbar {
  background-color: #7a0000;
  width: 100%;
  height: 40px;
  color: white;
}

#logodiv {
  padding-top: 5px;
  padding-right: 10px;
  float: left;
  border-right: 1px solid #990000;
}

#signindiv {
  font-weight: bold;
  font-size: 0.9em;
  padding: 9px 0px 10px 20px;
  border-right: 1px solid #990000;
  width: 200px;
  float: left;
}

#signindiv img {
  position: relative;
  top: 3px;
  padding-right: 5px;
}

#topmenudiv {
  float: left;
}

#topmenudiv ul {
  padding: 0;
  margin: 0;
}

#topmenudiv li {
  list-style: none;
  font-weight: bold;
  font-size: 0.9em;
  border-right: 1px solid #990000;
  height: 100%;
  padding: 13px 20px 10px 20px;
  float: left;
}

#searchdiv {
  float: left;
  margin: -29px 0 0 940px;
}

#searchdiv input {
  border: none;
  padding: 6px 0 -5px 0;
  padding-left: 10px;
  background-image: url("images/magnifying_glass.png");
  background-repeat: no-repeat;
  background-position: right 20%;
  background-size: 15%;
}

.break {
  clear: both;
}

#newsbar {
  background-color: #990000;
  width: 100%;
  height: 90px;
  color: white;
}

#newsbar p {
  margin: 0;
  float: left;
}

#newsheader {
  font-size: 3em;
  padding-top: 10px;
}

#uk {
  font-size: 0.7em;
  padding-left: 20px;
}

#rss {
  float: right;
  margin-top: 38px;
}

#rss img {
  height: 14px;
}

#topicmenu {
}

#topicmenu ul {
  background-color: #3e0c0d;
  margin: 0;
  padding: 5px 0 0 5px;
  height: 20px;
}

#topicmenu li {
  list-style: none;
  font-size: 0.8em;
  border-right: 1px solid #990000;
  float: left;
  padding: 0 6px 0 6px;
}

.selected {
  background-color: #ededed;
  color: #666666;
  position: relative;
  height: 19px;
  top: -4px;
  padding-top: 4px !important;
}

#content {
  width: 100%;
  color: #535353;
  font-size: 0.75em;
}

.date {
  font-weight: bold;
}

h1 {
  color: #1f4f82;
  font-size: 2.5em;
}

.headlineimage {
  float: left;
}

.newsitem {
  position: relative;
  left: 2px;
  width: 280px;
  float: left;
  top: -15px;
  font-size: 1.1em;
}

.newsitem a {
  color: #1f4f82;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.video {
  background-image: url("images/arrow_link.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

.links {
  line-height: 1.6em;
}
.live {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: rgb(145, 14, 14);
}

.middle {
  position: relative;
  right: 135px;
  top: -195px;
  display: flex;
  flex-wrap: wrap;
}

.middle .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border: 4px solid rgba(194, 37, 37, 0.904);
  border-radius: 50%;
  animation: size 2s ease-in-out infinite;
}
.middle .circle:nth-child(1) {
  padding: 0;
  animation-delay: 0s;
}

.middle .circle:nth-child(2) {
  padding: 2px;
  animation-delay: 0.2s;
}

.middle .circle:nth-child(3) {
  padding: 5px;
  animation-delay: 0.4s;
}

.middle .circle:nth-child(4) {
  padding: 7px;
  animation-delay: 0.6s;
}

.middle .circle:nth-child(5) {
  padding: 10px;
  animation-delay: 0.8s;
}
@keyframes size {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}

#watchlisten {
  background-color: #eeeeee;
  float: right;
  width: 434px;
  position: relative;
  left: 200px;
  top: -260px;
}

h2 {
  color: #505050;
  margin: 10px 0 10px 10px;
  font-size: 1.8em;
}

.boxes {
  float: right;
  margin: 15px 10px 0 0;
}

.left_arrow_box {
  float: left;
  height: 159px;
  border-right: 1px solid white;
}

.wlblock {
  float: left;
  background-color: #d1700e;
  width: 184px;
}

.wlblock a {
  color: white;
}

.wlblock p {
  margin: 10px 10px 14px 10px;
}

#wlrightblock {
  position: relative;
  left: 1px;
  width: 186px;
}

#wlrightblock p {
  margin: 10px 10px 13px 10px;
}

.right_arrow_box {
  float: left;
  height: 159px;
  border-left: 2px solid white;
}

#watchlisten ul {
}

#watchlisten li {
  list-style: none;
  background-image: url("images/live.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding: 10px 0 10px 40px;
  font-size: 1.6em;
}

.bb {
  border-bottom: 1px solid #dddddd;
  padding-right: 160px;
}

.fixedwidth {
  width: 977px;
  margin: 0 auto;
}

body {
  font-family: arial, monospace, sans-serif;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

p {
  margin-top: 5px;
}

#topbar {
  width: 100%;
  height: 40px;
  color: #535353;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: arial, sans-serif;
  font-weight: bold;
}

#logo {
  height: 32px;
  width: 100px;
  padding: 8px 0 0 0;
  border-right: 1px solid #cccccc;
  margin: 0;
  float: left;
}

#signin {
  float: left;
  padding: 8.5px 30px 6.5px 10px;
  font-size: 13px;
  border-right: 1px solid #cccccc;
  margin: 0;
}
#signin p {
  padding-top: 3px;
  margin: 0 0 0 7px;
  font-family: arial, sans-serif;
  font-weight: bold;
  float: left;
}

#signin img {
  float: left;
}

#topmenudiv {
  height: 40px;
  float: left;
  color: #303030;
  padding: 0;
  margin: 0;
}

#topmenudiv ul {
  float: left;
  padding: 0 10px 0 0;
  font-size: 13px;
  border-right: 1px solid #cccccc;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

#topmenudiv ul li {
  float: left;
  border-right: 1px solid #cccccc;
  padding: 12.4px 12px 12.5px 15px;
  margin: 0;
}

#topmenudiv ul:last-child {
  padding-right: 0;
}

.fa {
  padding-left: 7px;
}

#searchbar-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e4e4e4;
}

#searchbar input {
  background: transparent;
  border: none;
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: #303030;
}
:-moz-placeholder {
  color: #303030;
  opacity: 1;
}
::-moz-placeholder {
  color: #303030;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #303030;
}

.fa-search {
  margin-left: -30px;
}

.fa-volume-up {
  padding-right: 5px;
}

#topmenudiv ul li:nth-child(1):hover {
  box-shadow: inset 0 -4px 0 purple;
  transition: 0.2s ease-in-out;
}
#topmenudiv ul li:nth-child(1) {
  transition: 0.2s ease-in-out;
}

#topmenudiv ul li:nth-child(2):hover {
  box-shadow: inset 0 -4px 0 yellowgreen;
  transition: 0.2s ease-in-out;
}
#topmenudiv ul li:nth-child(2) {
  transition: 0.2s ease-in-out;
}

#topmenudiv ul li:nth-child(3):hover {
  box-shadow: inset 0 -4px 0 lightblue;
  transition: 0.2s ease-in-out;
}
#topmenudiv ul li:nth-child(3) {
  transition: 0.2s ease-in-out;
}

#topmenudiv ul li:nth-child(4):hover {
  box-shadow: inset 0 -4px 0 #00cacc;
  transition: 0.2s ease-in-out;
}
#topmenudiv ul li:nth-child(4) {
  transition: 0.2s ease-in-out;
}

#topmenudiv ul li:nth-child(5):hover {
  box-shadow: inset 0 -4px 0 black;
  transition: 0.2s ease-in-out;
}
#topmenudiv ul li:nth-child(5) {
  transition: 0.2s ease-in-out;
}

#topmenudiv ul li:nth-child(6):hover {
  box-shadow: inset 0 -4px 0 brown;
  transition: 0.2s ease-in-out;
}
#topmenudiv ul li:nth-child(6) {
  transition: 0.2s ease-in-out;
}

#topmenudiv ul li:nth-child(7):hover {
  box-shadow: inset 0 -4px 0 orange;
  transition: 0.2s ease-in-out;
}
#topmenudiv ul li:nth-child(7) {
  transition: 0.2s ease-in-out;
}

#signin:hover {
  box-shadow: inset 0 -4px 0 #6dcce4;
  transition: 0.2s ease-in-out;
}
#signin {
  transition: 0.2s ease-in-out;
}

#newsbar {
  background-color: #bb1919;
  height: 56px;
  width: 100%;
}

#newsheader {
  font-size: 40px;
  color: white;
  margin: 0;
  padding-top: 5px;
}

#headerlink {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#headerlink:hover {
  text-decoration: none;
  color: #1167a8;
}

#homebar {
  background-color: #bb1919;
  height: 40px;
  width: 100%;
  margin: 0;
  color: white;
}

#homebar p {
  margin: 0;
}

#uk {
  font-size: 0.7em;
  padding-left: 10px;
  margin: 0;
}

#homebar ul {
  float: left;
  list-style: none;
  padding: 12.5px 0 12.5px 0;
  margin: 0;
  cursor: pointer;
}

#homebar li:first-child {
  float: left;
  padding: 0 10px 0 0;
  border-right: 1px dotted rgba(255, 255, 255, 0.5);
  margin: 0;
}

#homebar li {
  float: left;
  padding: 0 10px 0 10px;
  border-right: 1px dotted rgba(255, 255, 255, 0.5);
  margin: 0;
}

.selected {
  box-shadow: 0 5px 0 0 #a91717, 0 9px 0 0 white;
}

#country {
  background-color: white;
  height: 40px;
  width: 100%;
  margin: 0;
  color: #303030;
}

#country ul {
  float: left;
  list-style: none;
  padding: 7px 0 7px 0;
  margin: 0;
  cursor: pointer;
}

#country li {
  float: left;
  padding: 0 10px 0 10px;
  border-right: 1px dotted rgba(0, 0, 0, 0.5);
  margin: 0;
}

#country li:hover {
  box-shadow: 0 5px 0 0 white, 0 9px 0 0 #a91717;
}

#selected {
  box-shadow: 0 5px 0 0 white, 0 9px 0 0 #a91717;
}

.content {
  width: 100%;
  color: #303030;
  font-size: 0.75em;
}

.date {
  font-weight: bold;
}

h1 {
  color: #442222;
  font-size: 260%;
  margin-top: 0;
  padding: 0;
}

.firsthr {
  border: none;
  width: 95%;
  background-color: #dbdbdb;
  height: 1px;
}

.smallred {
  border: none;
  width: 20%;
  background-color: #bb1919;
  height: 1px;
  margin-left: 0;
  margin-top: 5px;
}

#main-col {
  width: 668px;
  height: 2000px;
  float: left;
}

#supportingcontent {
  width: 680px;
  height: 800px;
}

.midrows {
  height: 325px;
  width: 210px;
  float: left;
  margin-top: 10px;
  margin-bottom: 15px;
  border-right: 1px solid #dbdbdb;
  padding: 0 15px 0 12.5px;
}

#lastmidrow {
  width: 170px;
  float: left;
  margin-top: 10px;
  padding: 0 7.5px 0 7.5px;
}

h1:hover {
  text-decoration: underline;
}
h3:hover {
  text-decoration: underline;
}
.vidtext:hover {
  text-decoration: underline;
}
.lastmidtext:hover {
  text-decoration: underline;
}

.lastmidtext {
  font-size: 1.4em;
  font-weight: bold;
}

#lastmidli {
  border: none;
  line-height: 1.4em;
}

.midlink {
  text-decoration: none;
  display: inline-block;
}

.midtext {
  color: #5a5a73;
}

.midlink {
  text-decoration: none;
  color: #222222;
}

.midlink:hover {
  text-decoration: none;
  color: #1167a8;
}

.midlist {
  margin: 0;
  padding: 0 0 10px 0;
  list-style: none;
}

.midlist li {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #dbdbdb;
}

.midpic {
  float: left;
  padding-right: 10px;
}

.supwidth {
  height: 200px;
  width: 667px;
  margin-bottom: -15px;
}
.suphead {
  color: rgb(7, 4, 4);
  padding: 20px 0 15px 0;
  margin: -5px;
  font-size: 2em;
}
#smallsup {
  height: 150px;
}
.alsoli {
  height: 100px;
  width: 323px;
  float: left;
  margin-right: 10px;
}

#feat {
  width: 667px;
  height: 525px;
}

.featurelist {
  list-style: none;
  padding: 0;
}

.featureli {
  width: 200px;
  height: 230px;
  padding-right: 10px;
  float: left;
  margin-bottom: 10px;
  margin-right: 15px;
}

.featurelink {
  text-decoration: none;
  color: #222222;
}

.featurelink:hover {
  text-decoration: none;
  color: #1167a8;
}

.featuretext {
  color: #5a5a73;
}

#expertimg {
  position: relative;
  left: 700px;
  bottom: 130px;
  z-index: auto;
  line-height: 0.6em;
}

#spanexp {
  font-size: 0.75em;
  font-weight: normal;
  line-height: 1.2;
}

#expertp {
  background-color: #ededed;
  height: 75px;
  font-weight: bold;
  font-size: 1.5em;
  padding: 15px;
  line-height: 0.5em;
}

#fakelink:hover {
  cursor: pointer;
  color: #1167a8;
}
.newsitem {
  position: relative;
  bottom: 15px;
  width: 275px;
  float: left;
  font-size: 1.1em;
}

.headlineimage {
  float: right;
  padding-right: 7.5px;
  position: relative;
  bottom: 9px;
}

#time {
  color: gray;
  padding: 0 5px 0 5px;
}

#timeuk {
  text-decoration: none;
  color: #ab1b1b;
  padding-left: 10px;
  border-left: 1px solid gray;
  line-height: 1.5em;
}

#timeuk:hover {
  text-decoration: none;
  color: #1167a8;
  padding-left: 10px;
  border-left: 1px solid gray;
}

.fa-2x {
  padding-right: 5px;
  padding-left: 0;
  margin-left: 0;
}

.padding {
  padding-right: 2px;
}
.padding2 {
  position: relative;
  top: 7px;
  padding-right: 5px;
}

.links {
  text-decoration: none;
  padding-top: 5px;
  float: left;
  color: #222222;
}

.links:hover {
  color: #1167a8;
}

.newsitem p {
  float: left;
  color: #5a5a73;
}

.clock {
  color: gray;
}

#morefromuk {
  height: 500px;
  width: 677px;
  margin-bottom: 10px;
}

.moreuk {
  list-style: none;
  padding: 0;
}

.moreuk li {
  height: 150px;
  width: 149px;
  float: left;
  margin-right: 16.32px;
  margin-bottom: 15px;
}

#morefromthebbc {
  width: 100%;
  float: left;
}

.bbcsounds-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bbcsounds-item {
  width: 24%;
}

.bbcsounds-item img {
  width: 100%;
}

#morebbc {
  width: 100%;
  height: 400px;
  border-top: 1px solid #dbdbdb;
}

.morebbcimg {
  margin-bottom: 10px;
  width: 40%;
  height: 40%;
}

#morebccul {
  list-style: none;
  padding: 0;
}

.morebbcright {
  margin-right: 0;
  padding-right: 0;
}

.location {
  color: #bb1919;
  text-decoration: none;
}

.location:visited {
  color: #bf1919;
  text-decoration: none;
}

.location:hover {
  color: #62a0d6;
  text-decoration: none;
}

.morebbclink {
  text-decoration: none;
  color: #bf1919;
}

.morebbclink:hover {
  text-decoration: none;
  color: #62a0d6;
}

.morebbca {
  color: #222222;
  text-decoration: none;
  font-weight: bold;
}

.morebbca:hover {
  color: #1167a8;
  text-decoration: none;
  font-weight: bold;
}

.morebbclink:hover ~ .morebbca {
  color: #1167a8;
}

#right-col {
  width: 100px;
  height: 2000px;
  float: left;
  margin-top: -250px;
}

#rightheadliner {
  font-size: 2em;
  padding-top: 10px;
  margin-bottom: 0;
}

#watchlisten {
  width: 200px;
  height: 102px;
  padding-left: 10px;
  border-left: 1px solid #dbdbdb;
}

#rightvid {
  width: 300px;
  height: 700px;
  padding-left: 10px;
  margin-top: 30px;
  border-left: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
}

#vids {
  list-style: none;
  margin-top: 0;
  padding: 15px 2px 2px 2px;
}

.vidpics {
  padding-right: 4px;
  float: left;
}

.vidtext {
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: bold;
}

.vidlink {
  text-decoration: none;
  color: #222222;
}

.vidlink:hover {
  text-decoration: none;
  color: #1167a8;
}

#servicefooter {
  width: 100%;
  height: 118px;
  background-color: #2f2f2f;
  float: left;
  color: white;
  border-bottom: 1px solid #999;
}

#servicefooter h1 {
  color: #eee;
  padding: 22.5px 0 5px 0;
  margin: 0;
  font-size: 1.5em;
}

#servicefooter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#servicefooter li {
  display: inline-block;
  padding: 10px 50px 0 0;
}

#servicefooter ul li a {
  text-decoration: none;
  color: #eee;
}

#servicefooter ul li a:hover {
  text-decoration: underline;
  color: #eee;
}
#firstservicefooter {
  width: 100%;
  height: 118px;
}

.heightfix {
  position: relative;
  bottom: 5px;
  font-size: 1.1em;
}

#footer {
  width: 100%;
  height: 300px;
  background-color: #4c4c4c;
  color: white;
  float: left;
}

#firstfooter {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}

#footer h1 {
  color: #eee;
  padding: 20px 0 15px 0;
  margin: 0;
  font-size: 1.5em;
}
#tag {
  padding-left: 0;
  border: none;
  text-decoration: none;
}

.footerlist {
  float: left;
  list-style: none;
  padding-right: 75px;
  padding-left: 10px;
  border-left: 1px solid #999;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 0;
}

.footerlist li {
  padding: 4px 4px 13px 4px;
}

.footerlist a {
  text-decoration: none;
  color: #eee;
}

.footerlist a:hover {
  text-decoration: none;
  color: rgba(177, 84, 84, 0.904);
  transform: translateY(-3px);
  transition: color 0.3s;
}

.copyright-notice {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

#final {
  float: left;
  list-style: none;
  padding: 0;
  font-size: 0.8em;
}

#final a {
  text-decoration: none;
  color: #eee;
}
#final a:hover {
  text-decoration: underline;
  color: #eee;
}

#final li {
  display: inline;
  padding-right: 15px;
}

#final p {
  padding-top: 6px;
}
hr {
  border: none;
  width: 100%;
  background-color: #999;
  height: 1px;
}
#bleh {
  padding-left: 3px;
}

#homebar ul li:nth-child(12):hover {
  color: black !important;
}
#homebar ul li:nth-child(1):hover {
  box-shadow: inset 0 -4px 0 white;
  transition: 0.2s ease-in-out;
}
#homebar ul li:nth-child(2):hover {
  box-shadow: inset 0 -4px 0 white;
  transition: 0.2s ease-in-out;
}
#homebar ul li:nth-child(3):hover {
  box-shadow: inset 0 -4px 0 white;
  transition: 0.2s ease-in-out;
}
#homebar ul li:nth-child(4):hover {
  box-shadow: inset 0 -4px 0 white;
  transition: 0.2s ease-in-out;
}
#homebar ul li:nth-child(5):hover {
  box-shadow: inset 0 -4px 0 white;
  transition: 0.2s ease-in-out;
}
#homebar ul li:nth-child(6):hover {
  box-shadow: inset 0 -4px 0 white;
  transition: 0.2s ease-in-out;
}
#homebar ul li:nth-child(7):hover {
  box-shadow: inset 0 -4px 0 white;
  transition: 0.2s ease-in-out;
}
#homebar ul li:nth-child(8):hover {
  box-shadow: inset 0 -4px 0 white;
  transition: 0.2s ease-in-out;
}
#homebar ul li:nth-child(9):hover {
  box-shadow: inset 0 -4px 0 white;
  transition: 0.2s ease-in-out;
}
#homebar ul li:nth-child(10):hover {
  box-shadow: inset 0 -4px 0 white;
  transition: 0.2s ease-in-out;
}
#homebar ul li:nth-child(11):hover {
  box-shadow: inset 0 -4px 0 white;
  transition: 0.2s ease-in-out;
}
/* No white transition for More as homebar More has black tint when hovered over - line 1172 --> */

#bbcsounds {
  color: rgb(5, 5, 5);
  padding: 20px 0 15px 0;
  margin: 0;
  font-size: 1.5em;
}

.iconify {
  display: inline;
}

.bbcsounds-container {
  position: relative;
  top: 0;
  left: 0;
}

.Image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px red solid;
}

.image2 {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px green solid;
}

.BRIGHTNETWORK {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.Image1 {
  position: inherit;
  top: 5px;
  left: 5px;
}

.Image2 {
  position: inherit;
  top: 5px;
  left: 10px;
}

.Image3 {
  position: inherit;
  top: 5px;
  left: 15px;
}

.Image4 {
  position: inherit;
  top: 5px;
  left: 20px;
}
.suphead {
  text-align: left;
}
.wrapper {
  display: inline-flex;
  justify-content: center;
}
.wrapper i {
  padding: 10px;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
.wrapper a:nth-child(1) {
  color: #1da1f2;
}
.wrapper a:nth-child(2) {
  color: #4867aa;
}
.wrapper a:nth-child(3) {
  color: #ff00ff;
}
.wrapper i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}

/* .collapsible-button:hover {
	background-color: rgba(15, 15, 15, 0.822);
	color: white;
    transition: color .3s;
} */

#more-collapsible {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  color: white;
  width: 100%;
}

#more-collapsible-container {
  width: 977px;
  margin: auto;
}

#more-collapsible li {
  display: inline-block;
  margin-right: 15px;
}

#more-collapsible ul {
  margin: 0;
  padding: 10px 0;
}

#top-collapsible {
  overflow-y: hidden;
  height: 0;
  transition: all 0.5s linear;
  -webkit-transition: height 0.5s linear;
}

#top-collapsible div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#top-collapsible h3 {
  width: 10%;
  text-align: center;
  font-size: 30px;
  padding: 0 50px;
}

#top-collapsible ul {
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

#top-collapsible li {
  display: inline-block;
  width: 18%;
  margin: 0;
  padding: 20px 0;
}

.active {
  display: block !important;
}

.active-2 {
  height: 116px !important;
}

/* bell icon */

/* .bell-icon {
    display: flex;
    justify-content: center;
} */

.bell-link {
  border-right: 1px solid #cccccc;
  padding: 12.4px 12px 12.5px 15px;
  float: left;
  font-size: 0.9em;
  color: var(--light-color);
  transition: color 0.5s, transform 0.5;
}

.bell-link:hover {
  color: #282a2b50;
  transform: translateY(-3px);
  transition: color 0.3s;
}

@media only screen and (max-width: 900px) {
  body {
    display: flex;
  }
}
